<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Books</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1>Books</h1>
                <p>This page contains all informations about books</p>
            </div>
        </div>
    </section>

    <div th:if="${null!=deletedId}">
        <div class="alert alert-info" th:text="'You have deleted one book on id: ' + ${deletedId}">
            You have deleted one book.
        </div>
    </div>
    <section class="container">
        <div class="row">
            <th:block th:each="book : ${bookList}">
                <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 th:text="${book.id}"></h3>
                            <p th:text="${book.title}"></p>
                            <p th:text="${book.authors}"></p>
                            <p th:text="${book.status}">Status: </p>
                            <p>
                                <a th:href="@{'/books/book?id='+${book.id}}"
                                   class="btn btn-primary"> <span
                                        class="glyphicon-info-sign glyphicon"/></span> Details
                                </a>
                            </p>
                            <p>
                                <a th:href="@{'/books/deleteBook?id='+${book.id}}" id="21"
                                   class="btn btn-primary">
                                    <span class="glyphicon-remove glyphicon"/></span> Delete
                                </a>

                                <!--<button id="12" onclick="window.location.href='/books/deleteBook?id=3'">DELETE-->
                                <!--</button>-->

                            </p>
                            <!--<form method="get" action="/books">-->
                            <!--<button type="submit" onclick="myFunction()">Continue</button>-->
                            <!--</form>-->
                            <!--<p><button onclick="window.location.href='/books/deleteBook?id=3'" id="31">DELETE</button></p>-->
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

    </section>
</div>
<!--<script>-->
<!--function myFunction() {window.alert("asd");)-->


<!--</script>-->
<!--<button id="asd" onclick="window.location.href='/#'">DELETE</button>-->
<!--<script>-->

<!--var youButtonId = document.getElementById("31");-->
<!--yourButtonId.onclick = function() {console.alert("adsdasda");}-->


<!--<script>-->
<!--var yourButtonId = document.getElementById("21");-->
<!--yourButtonId.onclick = console.alert("asd");-->

<!--</script>-->
</body>
</html>
